.goBackHome {
    position: relative;
    top: 44em;
}

button {
    width: 10em;
    height: 2.5em;
    background: lightblue;
    font-weight: bold;
    font-size: 1.5em;
}

@media screen and (min-width: 320px) and (max-width: 1400px) {
    .goBackHome{
        position: relative;
        top: 23em;
    }
}