body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  position: flex;
  justify-content: center;
  text-align: center;
}

.mainTitle {
  color: darkred;
  text-decoration: none;
}

#navHeader {
  border: solid green 1px;
}

#mainContainer {
  border: solid palevioletred 1px;
  margin-top: 5%;
}

#topicsContainer {
  width: 15%;
  height: 20em;
  border: solid red 1px;
  margin: 5%;
  margin-left: 0;
  float: left;
}

.containerTitle {
  text-decoration: underline;
}

#popularArticles {
  border: solid purple 1px;
  width: 45%;
  display: flex;
  margin: 5%;
  height: 20em;
  overflow: scroll;
}

.subheading {
  text-align: center;
}

#popularArticle {
  text-align: left;
  margin-left: 2%;
}

.postedOn {
  margin-top: -3%;
  text-align: right;
}

#mostRecentComments {
  border: solid blue 1px;
  float: right;
  width: 30%;
  height: 20em;
  margin-top: 5%;
  overflow: scroll;
}

#recentComment {
  text-align: left;
  margin-left: 5%;
}

#articleTitle {
  color: darkred;
}

#articleBody {
  width: 50%;
  margin: 0 auto;
  font-size: 30px;
  font-family: cursive;
}

.authorName {
  text-align: right;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2%;
}

.moreBy {
  text-align: right;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 2%;
  margin-top: 10%;
}

#avatarImg {
  max-width: 15em;
  max-height: 15em;
}

footer {
  margin-top: 5em;
}